[2012-09-28 22:22] ryansmith3136 opened #1 "Provide default meta-data for Librato metrics"
When we submit measurements to Librato, we can provide some meta-data like: display units & colors. The docs describe all of the available options: http://dev.librato.com/v1/metric-attributes

cc: @bgentry

[2012-10-03 05:03] ryansmith3136 opened #2 "Add 'count' suffix on counter metrics"
Similar to mean/median, we should append count to counters.

[2012-10-03 05:40] ryansmith3136 commented on #1
shipped.

[2012-10-03 18:46] bgentry opened #3 "batch writes of metrics to dynamo"
Might be premature to bring this up, but I bet we could really improve metric throughput using this API: http://docs.amazonwebservices.com/amazondynamodb/latest/developerguide/API_BatchWriteItem.html

[2012-10-15 21:42] ryansmith3136 commented on #2
This is now fixed.

[2012-10-15 21:42] #2 closed, assigned to nobody

[2012-10-15 21:42] #1 closed, assigned to nobody

[2012-10-15 21:43] ryansmith3136 opened #4 "Hight latency Librato requests create backlog"
In last night's aws outage, l2met was having troubles keeping up with measurement postings. I am not sure what the correct solution is, but this is definitely a problem.

[2012-10-23 23:05] josephruscio commented on #4
@ryandotsmith can you (or have you already) add a custom User-Agent on the requests made by l2met? We recommend that new collectors add a unique User-Agent header so that we have the option of collecting statistics (e.g. latency) for a given collector e.g.

[code]

[2012-10-23 23:08] josephruscio commented on #4
Also did you perceive an increase in latency to requests made to @librato during the outage period? Or does this refer to the latencies typically seen to @librato exacerbating the problem? /cc @mheffner

[2012-11-02 16:54] gorsuch opened #5 "http 500 when visiting www.l2met.net"
http://cl.ly/image/0H0p3p0G3s20

Howdy!  Can you patch things up for me!

[2012-11-05 19:28] ryansmith3136 commented on #5
@gorsuch OK. I fixed the problem that was causing the 500s. How I have a problem with Sinatra::GoogleAuth. Let me dig in on this one. Nothing has changed.... Not sure what to do.

[2012-11-05 19:33] ryansmith3136 commented on #5
After looking in the logs, I saw the following message:

[code]

I will go to the googles to figure out what is going on here. @gorsuch have you seen this before?

[2012-11-13 23:24] #5 closed, assigned to nobody

[2012-11-13 23:25] ryansmith3136 opened #6 "Receive Heroku router's new log format"
Even though it doesn't have measure=true....

Here are the docs: https://devcenter.heroku.com/articles/http-routing#heroku-router-log-format

[2012-11-28 00:40] nzoschke opened #7 "Support librato's "source" measurement parameter"
I would like to leverage Librato's dashboard templates:

http://support.metrics.librato.com/knowledgebase/articles/96653-instrument-and-dashboard-templates

The reasonable format for log messages would be:

[code]

[2012-11-30 16:16] gorsuch commented on #7
We want this as well - it would be a HUGE win.  HUGE I tell you.  This would potentially allow us to start shipping our collectd (lower-level system stats) metrics to librato without a terrible amount of work and allow us to leverage dashboards similar to how Noah describes.

[2012-11-30 16:37] mikehale commented on #7
+1000

[2012-11-30 23:34] ryansmith3136 commented on #7
Message received. I am thinking of adding the following key: `lm_source`. The value for this key will be integrated into the metric that is sent to librato.

[2012-12-03 19:57] sclasen commented on #7
+1

[2012-12-03 20:36] nzoschke commented on #7
We talked about this in person, but why `lm_source` and not just `source` ?

[2012-12-04 15:29] mikehale commented on #7
Does lm_source mean 'librato metric source'? Are you thinking there may be other types of sources?

[2012-12-04 17:22] ryansmith3136 commented on #7
This is now in production. I ended up using the source key.

[code]

[2012-12-04 18:43] mikehale commented on #7
Awesome. Going to try to experiment with this some today.

[2012-12-04 20:18] mikehale opened #8 "Increase flush to librato flush interval"
Currently all metrics are delayed by 60 seconds before being written to librato. Does it make sense to increase the flush interval to say 30 seconds? The last 60 seconds of data could still be used to make calculations in all cases except for brand new metrics.

[2012-12-04 20:23] josephruscio commented on #8
We do support up to 1s resolution, and "raw data" is available through the API (and by extension graphs/dashboards) as soon as it hits the persistence layer. So if you have higher frequency data e.g. 5s or 10s, it could be accessed sooner.

[2012-12-04 20:45] ryansmith3136 commented on #8
The challenge with flushing data in short intervals is that we currently aggregate all metrics by the minute. Thus, if we flush minute=0 at minute=0 second=10, we only have 1/6th of our data set. This will mean that all charts will have a falling-off-the-cliff effect. We could mitigate this by aggregating by the second, or do some sort of moving buckets where the previous bucket impacts the curren

[2012-12-05 15:43] mikehale opened #9 "Provide a convention for overriding measure time"
It looks like the only way to affect measure time is by setting the time in the syslog message received by l2met. https://github.com/ryandotsmith/l2met/blob/master/lib/l2met/receiver.rb#L71 In some cases (cloudwatch) the measure time is provided by an external source and should not be set automatically by logplex. It would be convenient to prefer a measure_time key over the time on the syslog mess

[2012-12-05 17:04] mikehale opened #10 "Document expected input formats in README"
Ex:

`measure=true app=<app> fn="<fn>" elapsed=<elapsed>`

others?

[2012-12-05 17:05] ryansmith3136 commented on #10
@mikehale I am attempting to deprecate this format. Hence I removed it from the readme.

[2012-12-05 17:05] #10 closed, assigned to nobody

[2012-12-05 17:24] mikehale opened #11 "Q: How should cloudwatch data be handled?"
Cloudwatch data has a maximum resolution of 60 seconds. Internally more data is stored. Take for example ELB latency:

[code]

It seems un-necessary to have l2met calculate min, max, perc99, etc on data that is already at a 60 second resolution, because all of the metrics will be identical. Perhaps l2met could have a way to signal that data should just be passed through? Maybe it could rely on a `

[2012-12-06 05:04] josephruscio commented on #11
@mikehale submitting the data in the multi-sample format would reduce your Librato bill. We consider a single multi-sample of <sum, count, min, max> a single measurement for billing purposes. So in this case you'd cut your bill for this data by a factor of 5.

The current (albeit temporary) downside is that we don't expose min/max/count through the UI yet. All of the multi-sample fields are availa

[2012-12-12 15:19] mikehale commented on #11
@josephruscio Thanks. I'm not a stats expert, but it seems like this allows one to represent a large amount of data points with a few numbers. So it is lossy, but not as lossy as a straight average. Is that correct? I'm curious about what that will look like in the UI. Does having the multi-sample data allow the graphs to be drawn more in line with the full resolution data, while still only having

[2012-12-13 14:51] mheffner commented on #11
@mikehale At the lowest (raw) resolution there would be no loss at all. Using the complex gauges you would essentially be submitting the values above (mod 'avg' since that should equal sum/sample_count) in a single gauge measurement. Like Joe said, at the moment you would not be able to plot min or max values across points using the UI, but we do plan to support that soon. The min/max data is stil

[2013-01-17 01:30] josephruscio opened #12 "Investigate Librato complex measurement support"
Librato supports representing a multi-sample aggregate [as a single gauge measurement](http://dev.librato.com/v1/post/metrics) (scroll down to `Gauge Specific Parameters`). In theory you could submit the:
1. sample count
2. sample sum
3. sample min
4. sample max

as a single measurement instead of 5 separate metrics (we calculate the average as sum/count), and cut your billed usage by a factor of

[2013-01-18 02:19] #3 closed, assigned to nobody

[2013-01-18 02:19] ryansmith3136 commented on #3
no longer using dynamo

[2013-01-18 02:20] ryansmith3136 commented on #4
Not a real problem.

[2013-01-18 02:20] #4 closed, assigned to nobody

[2013-01-18 02:20] ryansmith3136 commented on #7
done.

[2013-01-18 02:20] #7 closed, assigned to nobody

[2013-01-18 23:01] freeformz opened #13 "Set the period of a guage correctly."
This is needed so a simple transform of x/p works correctly.

[2013-01-18 23:03] freeformz opened #14 "support counters"
Most system metrics are counters and we need librato to graph the derivative.

[2013-01-18 23:07] freeformz commented on #14
Alternative is to report the difference to librato from l2met.
Otherwise my app needs to calculate the difference between ticks and report those instead, this complicates things.
Either way someone needs to calculate it and I'd rather push that as far away from the metric reporting app as possible.

[2013-01-18 23:13] freeformz commented on #14
After talking to @josephruscio it's best that l2met support counters for now and have librato handle the derivatives.

[2013-01-19 04:24] ryansmith3136 commented on #13
@freeformz Can you provide some more detail here?

[2013-01-19 16:33] josephruscio commented on #14
@freeformz correct. We're going to be adding support for graphite-style functions very soon, at which point you could just push the raw counter values up as a gauge, and then add a derivative to the metric attributes. But at this point in time to achieve a derivative, you need to push those up as counters. Note that this is how our collectd backend deals with all the values in `/proc` as well.

[2013-01-19 17:05] josephruscio commented on #13
@ryandotsmith if you set the period on a gauge, we can do several things:
1. Properly align data-points on stacked area graph
2. Enable display transforms like `x/p` that render a per-second rate correctly at any rollup level
3. Zero-fill missing data when aggregation is configured to `sum`
4. In the future, hopefully alert when data stop's showing up for N periods.

@freeformz fwiw, we're deep in

[2013-01-19 19:57] freeformz commented on #13
@ryandotsmith what @josephruscio said.

[2013-01-23 22:47] mikehale opened #15 "support measure_time"
In the case of pulling metrics from cloudwatch AWS provides the measure time for metrics. To use l2met for publishing cloudwatch metrics we would need a way to provide the measure_time in the event instead of using the time at which the metric was logged or received by l2met.

[2013-02-14 17:18] ryansmith3136 commented on #9
duplicated #15

[2013-02-14 17:18] #9 closed, assigned to nobody

[2013-02-14 17:19] ryansmith3136 commented on #8
Not sure there is any actionable item for this now. If it is a showstopper for your l2met usage, let me know and we can revisit.

[2013-02-14 17:19] #8 closed, assigned to nobody

[2013-02-14 17:21] ryansmith3136 opened #20 "Deal with late log entries"
L2met assumes that logs will come in for t0 between t0 and t2. We set a TTL of 3 minutes on our buckets so if a log line for t0 comes in at t3, we will create a new bucket. This is a problem because the outlets will process this bucket and overwrite values for t0.

[2013-02-14 17:47] mikehale commented on #9
Thanks. Sorry for the dup.

[2013-02-14 17:56] mikehale commented on #8
@ryandotsmith I think what I'm wanting here is something like what m2met provides. A simple pass-thru mode that receives specially annotated metrics on the log stream, formats them and sends them directly to librato without any aggregation. See #11.

[2013-02-18 20:23] #11 closed, assigned to nobody

[2013-02-22 00:55] ryansmith3136 opened #22 "YALF"
Yet Another Log Format.

**The Problem**

It is impossible to have multiple measurements in one log line. There are certain high volume systems for which it is not feasible to have one log line per measurement. Moving from 1x to 10x the number of logs on a system that does ~50,000 things per second is unreasonable.

**A Solution**

I would like to deprecate the `measure=x val=y` format in favor of

[2013-02-22 00:57] ryansmith3136 commented on #22
This change may increase the number of measurements that are taken. This will impact the amount of data l2met has to process in addition to the increase of metrics sent to librato.

[2013-02-22 01:02] josephruscio commented on #22
@ryandotsmith why would it increase the number of measurements? You mean from a behavioral perspective people will submit more measurements because it's easier?

[2013-02-22 01:04] ryansmith3136 commented on #22
The current format forces you to be explicit about what you want to measure. The new format will pick up a lot more data in a typical app stream. For example, consider a heroku app that adds a drain, in addition to getting measurements that your code is logging, you will also get the Heroku router measurements. I think this is great because you know have visibility into your router but at the cost

[2013-02-25 18:32] ryansmith3136 opened #23 "Use redis to lock partitions"
The librato_outlet process is designed to be scaled and partitioned horizontally. Because of his design, we need a mechanism that will allow a process to lock a partition. (more details can be found [here](http://www.miyagijournal.com/articles/8-process-partitioning-in-distributed-systems/)) Currently the librato_outlet relies on PG for the lock acquisition. This is unfortunate since l2met can run

[2013-02-26 20:32] mikehale opened #24 "Extra metrics sent to librato"
With a new drain and sending `measure= source=` I'm seeing min, max, etc. I only expected to have .count since I did not specify `val=`.

[2013-03-05 20:23] ericfode opened #26 "Web endpoint does not work."
Followed setup instructions.
There was no indication as to what I should do instead of using the web endpoint
No indication as to what i need to do to set up the web endpoint
No indication as to why it is not working.

[2013-03-05 20:35] #26 closed, assigned to nobody

[2013-03-14 18:52] ryansmith3136 commented on #22
related: #27

[2013-03-14 18:52] #22 closed, assigned to nobody

[2013-03-14 20:32] ericfode opened #28 "Blank Password in HTTP basic auth breaks SQL queries."
Should reject logs

[2013-03-21 21:40] bgentry opened #31 "REDIS_URL without creds causes a crash"
[code]

Coming from this line:

[code]

[2013-03-21 21:40] bgentry opened #32 ""source" functionality is not documented"
Apparently we can specify a `source=` key in our logs, and l2met will do something with it. This is not documented anywhere.

[2013-03-25 17:06] ryansmith3136 commented on #12
@josephruscio I am eager to take advantage of this feature. When do you expect the librato UI changes can be shipped?

[2013-03-25 17:09] josephruscio commented on #12
I was literally just typing up a reference to this in #29 as this is some extremely low-hanging fruit to cut down the total number of measurements. I think we can have it out next week if you want to start coordinating how the switchover will work. /cc @dpiddy

[2013-03-25 17:48] ryansmith3136 commented on #31
Tracking fix in #33.

[2013-03-25 17:48] #31 closed, assigned to nobody

[2013-03-29 02:13] bgentry opened #36 "Give me a way to make min value = 0"
For god's sake, it's a timestamp or a count. It can NEVER be negative :)

[2013-03-29 16:13] bgentry opened #38 "Track production branch"
It's very frustrating as a user of l2met to not have the Readme actually reflect the current deployed feature-set. It's also frustrating when the build on master is broken or just not functional. Please consider either:

a. doing all development in branches / PRs
b. keeping a branch that reflects what's deployed to production

[2013-03-29 16:54] ryansmith3136 commented on #38
This is a really good point. Perhaps we need a development branch. Also, we could probably get better at doing releases. Maybe keeping a version number and using tags could help keep things organized.

[2013-03-30 18:05] ryansmith3136 commented on #13
I was unable to find any mention of `period` here: http://dev.librato.com/v1/post/metrics

Is this feature not documented?

[2013-03-30 18:13] freeformz commented on #13
See "Optional Parameters" here: http://dev.librato.com/v1/put/metrics/:name

From the link you provided:

NOTE: The optional parameters listed in the metrics PUT operation can be used with POST operations, but they will be ignored if the metric already exists. To update existing metrics, please use the PUT operation.

[2013-03-31 02:07] ryansmith3136 opened #39 "Remove PG from token"
L2met supports multiple librato credentials. Using a unique token in the drain url, l2met can map drains to unique librato accounts. Currently we look up the librato credentials before posting to librato via PG queries. While this works, PG is overkill.

An alternative solution could involve and encrypted JSON file that is accessible via HTTPs. We could use [fernet](https://github.com/kr/fernet) t

[2013-04-01 18:12] ryansmith3136 commented on #38
In addition to keeping feature/development branches, I have also started to tag releases. E.g. https://github.com/ryandotsmith/l2met/tree/v0.1

[2013-04-01 18:12] #38 closed, assigned to nobody

[2013-04-02 00:39] bgentry commented on #13
Does this issue have any bearing on high-res 1sec charts from l2met?

[2013-04-07 23:31] ryansmith3136 commented on #23
This is now supported in l2met.

[2013-04-07 23:32] #23 closed, assigned to nobody

[2013-04-07 23:32] ryansmith3136 commented on #36
Fixed by #46.

[2013-04-07 23:32] #36 closed, assigned to nobody

[2013-04-07 23:33] ryansmith3136 commented on #39
A better solution has been found and is currently being tracked in #48

[2013-04-07 23:33] #39 closed, assigned to nobody

[2013-04-10 19:54] mheffner opened #49 "l2met sets a User-Agent on HTTP POSTs"
For debugging and for basic analytics on our side it would be great if l2met set a descriptive User-Agent header on the metric POSTs. Right now I believe it simply reports as "go http package". If it could also include the l2met version number this would help track any reported issues to specific reporter versions.

We put this document together for defining user agents: http://support.metrics.lib

[2013-04-10 23:15] #32 closed, assigned to nobody

[2013-04-10 23:23] ryansmith3136 commented on #6
done.

[2013-04-10 23:23] #6 closed, assigned to nobody

[2013-04-11 00:30] ryansmith3136 commented on #12
Started WIP at #50.

Lets take the discussion there.

[2013-04-11 00:30] #12 closed, assigned to nobody

[2013-04-11 00:42] #49 closed, assigned to nobody

[2013-04-18 01:08] ryansmith3136 commented on #24
@mikehale will this continue to be a problem even in light of #50 ?

[2013-04-18 14:12] mikehale commented on #24
Actually I think think this request was around an [old log convention (counters vs lists)](https://github.com/ryandotsmith/l2met/blob/309d8fbd55d9058ae612cb72a11c7a2c444bd72d/readme.md#counters). Based on the readme I was expecting a single metric to be produced, but it appears that l2met has changed in behavior here so this issue does not apply anymore.

[2013-04-18 14:12] #24 closed, assigned to nobody

[2013-04-18 14:44] mikehale opened #51 "Handle pre-aggregated metrics"
In the case of AWS cloudwatch, data has already been collected and aggregated over a 60 second period. Cloudwatch provides access to min, max, avg, sum, and sample count values for this 60 second period. I'd like a way to route these raw data points through l2met without any additional aggregation happening on them. For example, sending the following event to l2met:

[code]

Would produce the foll

[2013-04-18 14:45] mikehale commented on #51
Having this in place would allow me to eliminate [m2met](https://github.com/heroku/m2met).

[2013-04-22 02:57] ryansmith3136 commented on #28
SQL queries have been removed from l2met as of v0.1.

[2013-04-22 02:57] #28 closed, assigned to nobody

[2013-04-25 17:43] ryansmith3136 opened #53 "include http status codes in heroku router integration"
Right now, we track connect, service, and bytes from the router logs. It might be cool to also provide some metrics around HTTP status codes.

cc: @hgmnz

[2013-04-25 18:02] hgmnz commented on #53
I approve this initiative. :cake:

[2013-04-26 06:52] gregburek opened #54 "Parse elapsed time out of Scrolls style logging"
`lib=queue_classic action=insert_job elapsed=5` could be processed as `measurement.queue_classic.insert_job=5`

[2013-04-26 18:19] ryansmith3136 commented on #54
I definitely feel ya on this issue. It might make things a tad easier. However, I feel like I need to stick to my guns on the current logging convention. We might be able to work around this by patching scrolls. Also, here is an alternate logging function:

[code]

[2013-04-26 18:19] #54 closed, assigned to nobody

[2013-04-30 23:32] sclasen opened #56 "support measures in scientific notation"
Measures like this one
- `measure.api.staging.kafka.send.latency=7.9341e-05s`

are being interpreted as 7.9 seconds.

[2013-05-01 19:03] davestern opened #57 "Cannot start the app: App Crashed: Heroku H10 errors"
Followed the basic instructions in the README and used OpenRedis:

REDIS_URL: redis://:password@1.2.3.4:11856

(password and ip changed)

No other configs are set.

I cannot start the app without H10 errors. Errors in the logs:

`2013-05-01T18:58:00.074300+00:00 heroku[web.1]: Starting process with command`l2met`
2013-05-01T18:58:00.099901+00:00 heroku[librato_outlet.1]: Starting process with comm

[2013-05-01 19:24] ryansmith3136 commented on #57
Thanks for the report. Can you try this as a workaround:

[code]

[2013-05-01 19:41] davestern commented on #57
That works! Thanks.

[2013-05-02 18:43] ryanbrainard opened #58 "l2met.tar.gz is a TAR (not TAR GZ)"
The readme says to do this:

[code]

but results in:

   gzip: stdin: not in gzip format

The file is a TAR, but not TAR GZ. This works (without `z`):

[code]

Of course actually having the file gzipped would work too :)

[2013-05-02 18:46] ryansmith3136 commented on #58
Good call. I just updated the s3 bucket with the tared and zipped version.

[2013-05-02 18:46] #58 closed, assigned to nobody

[2013-05-02 18:53] ryansmith3136 commented on #57
I have updated the install instruction to reflect this step. Thanks for reporting.

[2013-05-02 18:53] #57 closed, assigned to nobody

[2013-05-03 15:51] ryansmith3136 opened #59 "Setup correct aggregation values when submitting metrics to librato."
You need to specify how librato down-samples data over time, currently there are options for: sum, average, max. L2met metrics like sum and count should be count aggregated over time while things like mean should be averaged. When it comes to percentiles, I am not sure what to do here. Perhaps the max function would be the best.

[2013-05-03 22:18] ryansmith3136 opened #60 "Heroku runtime metrics have UUIDs in the source"
This is a problem as it creates new librato metric streams.

[2013-05-03 22:27] mheffner commented on #60
Example of current source names:

[code]

Where 123456 and 456890 are the Heroku account ID and GUID is regenerated after each deploy

Ideally these would be reported as:

[code]

[2013-05-08 16:30] a-warner commented on #53
and heroku error codes!

[2013-05-15 18:01] ryansmith3136 opened #62 "Publish internal metrics to outlet"
While it is tempting to just use l2met to monitor l2met, it may be simpler if l2met kept a set of internal metrics and pushed them through the outlet.

[2013-05-15 22:49] mheffner opened #63 "Don't convert float values to strings for Librato reporter"
Librato API can accept float values as flat floats and doesn't require the string conversion in the payload.

[2013-05-16 13:38] mheffner opened #64 "Librato outlet: Drop user email and token from payload"
The Librato API doesn't require the user and pass to be in the measurement payload.

Convert:

[code]

to this:

[code]

[2013-05-16 16:21] ryansmith3136 commented on #64
I am pretty sure that by adding the `json:",omitempty"` tag to the struct field, json encoding will skip this field thus removing it from the json document that is submitted to librato.

It should also be noted that to achieve multi-tenancy, we [use the payload.User & payload.Pass fields](https://github.com/ryandotsmith/l2met/blob/master/outlet/librato_outlet.go#L145) in the code to ensure that we

[2013-05-16 16:23] ryansmith3136 commented on #64
While we are on the subject, one thing that would make l2met's job simpler would be for librato to accept User & Password in the payload. This would allow me to remove all of my code that is responsible for grouping measurements with the correct account. What do you think about that?

[2013-05-16 16:26] mheffner commented on #64
@ryandotsmith Well, the reason I submitted this was that I saw User and Pass fields in the payloads on our side. Maybe there's something else going on?

This is a sample measurement:

[code]

(actual values hidden with <>)

[2013-05-16 16:28] mheffner commented on #64
@ryandotsmith So you mean a single payload would contain measurements for multiple different accounts?

[2013-05-16 16:37] ryansmith3136 commented on #64
Yes.

[2013-05-16 16:38] ryansmith3136 commented on #64
The other thing that is going on is my inability to Go. I need to pass a `-` as the struct field tag in order for the field to be properly omitted.

[2013-05-17 19:20] josephruscio opened #65 "Make bucket TTLs configurable"
`l2met` currently uses a hardcoded TTL of 3 minutes on buckets, meaning a bucket may be flushed up to 3 (or 2?) times at T=60,120,180 (T is in seconds) when the bucket represents the interval of 0-59.

Make this TTL configurable (suggest it take a number of seconds) and support a value equal to the flush interval, which would configure `l2met` to completely drop late messages and never report the

[2013-05-23 03:55] ryansmith3136 commented on #62
Made a first pass at this issue. If you set `OUTLET_USER` and `OUTLET_PASS` then l2met will publish an internal metric to librato user the aforementioned credentials. Currently there is only one metric being published. I setup a timer around the function that makes an http request into metrics. This will report the rate at which we are receiving http requests and the time it takes to process those

[2013-05-23 03:55] ryansmith3136 commented on #62
cc: @josephruscio

[2013-05-23 03:56] ryansmith3136 commented on #62
Here is the [commit](https://github.com/ryandotsmith/l2met/commit/7759b6f2a4ab35546711bd232de03be8e702349a) that implemented the first pass.

[2013-05-24 16:50] josephruscio commented on #62
So another metric that would be good to track is the number of dropped log lines i.e. log lines received for a bucket after it's TTL (#65) has expired.

[2013-05-24 17:46] ryansmith3136 commented on #65
I think this is completely reasonable. But only if we have good visibility into how many messages are being dropped as a result. I think @josephruscio mentioned the dropped visibility in #62

[2013-06-05 00:04] ryansmith3136 opened #67 "Optimize the amount of data sent to librato"
The current behavior allows for the same measurement to be delivered to librato more than 1 time. It would be better if we could buffer all of the data for a measurement in memory and then send the result to librato in 1 shot.

[2013-06-05 00:05] ryansmith3136 commented on #65
@josephruscio I am closing this issue in favor of #67 which separates the problem from a particular solution.

[2013-06-05 00:05] #65 closed, assigned to nobody

[2013-06-05 08:24] ryansmith3136 commented on #67
I recently add a commit (51ef95786633ea67f93603cb99bb537062fbc439) which included a change to both the receiver and the memory store. The change involved validating the data coming into the receiver to ensure that it is on time. We check the time field in the syslog header and compare it with the current time on the server. The comparison involves truncating both the time in the header and the tim

[2013-06-05 08:30] #62 closed, assigned to nobody

[2013-06-05 08:35] #64 closed, assigned to nobody

[2013-06-05 08:43] ryansmith3136 commented on #20
Fixed in #67

[2013-06-05 08:43] #20 closed, assigned to nobody

[2013-06-05 14:36] mheffner opened #68 "Librato outlet can include blank metric names"
l2met should skip metrics with blank names

[2013-06-13 05:53] josephruscio opened #69 "Support non-timer metrics"
Currently l2met uniformly treats all metrics as _timers_ i.e. metrics comprised of a high number of individual measurements per interval that require statistical aggregation before reporting them upstream to something like Librato. For example the latency of servicing a web request would be measured thousands (or more!) times per interval on a heavily trafficked service. As such l2met generates 9

[2013-06-17 03:34] otisg opened #70 "Add SPM outlet"
Use https://sematext.atlassian.net/wiki/display/PUBSPM/Custom+Metrics

[2013-06-24 17:37] josephruscio opened #71 "Support source as a parameter on drain URIs"
Should support source prefix and metric prefix separately as parameters. E.g. if a user has a single Librato account in which they're monitoring multiple Heroku application instances, they'd prefer to have a single router or postgres dashboard that they can toggle from application to application.

[2013-07-02 21:19] ryansmith3136 commented on #69
I wonder if we need to update our logging conventions to support this. What if we could do something like this:

[code]

Which would translate to:

~~db.latency -> [min, p50, p95, p99, max, mean, sum, count]~~
~~db.size -> [last, sum, count]~~

[code]

[2013-07-02 21:21] ryansmith3136 commented on #71
Please help me understand something... How does the prefix parameter not solve for this problem?

[2013-07-02 21:22] #67 closed, assigned to nobody

[2013-07-02 21:23] ryansmith3136 commented on #56
I am closing the issue for now. If you would really like to see this happen, please submit a PR.

[2013-07-02 21:23] #56 closed, assigned to nobody

[2013-07-02 21:25] josephruscio commented on #71
AFAIK the `prefix` parameter pre-pends the metric name with the prefix and _not_ the source name, correct?

[2013-07-02 21:28] ryansmith3136 commented on #71
I see. So from Librato's perspective, you receive a piece of data with attributes **name** and **source**. Currently, you can set a prefix parameter for the **name** attribute, but you would rather that this go in the **source** attribute?

[2013-07-02 21:29] nextmat commented on #69
I was actually going to suggest something like that. That convention would also cover the common incremental counter use case.

[2013-07-02 21:31] nextmat commented on #71
@ryandotsmith Ideally I think we want to be able to configure for both cases independently.

[2013-07-02 21:34] josephruscio commented on #71
@ryandotsmith as best I can tell, most people seem to be using prefix to differentiate between multiple applications on Heroku that all publish the same set of metrics roughly. This is best modelled in @librato by changing the source name, that a single set of template dashboards can be shared across multiple application instances. Per @nextmat's comment, there may still be some use-cases where pr

[2013-07-03 13:21] mikehale commented on #69
I like the idea of a `sample` prefix, however I don't understand why sum and count numbers would be emitted from l2met. @ryandotsmith can you explain why those are needed?

[2013-07-03 13:24] mikehale commented on #69
Related issues: #14, #15.

[2013-07-03 13:29] mikehale commented on #15
Allowing the time a sample was taken to be specified to l2met would not only help with accuracy for current measurements, but would also allow historical measurements to  be piped through l2met to fill out the history. In the case of cloudwatch the last 7-14 days of data are typically available.

[2013-07-03 14:02] ryansmith3136 commented on #71
I see. I suppose you are right. Should be a simple enough change.

[2013-07-03 14:03] ryansmith3136 commented on #69
@mikehale The more I have thought about my use case the more I realize that I don't even have a use case. Thanks for pointing that out.

[2013-07-03 14:07] ryansmith3136 commented on #15
@mikehale Don't you feel like it is wrong that we have a timestamp in the header **and** the body of the syslog packet?

[2013-07-03 14:26] mikehale commented on #15
@ryandotsmith hmm I forgot about the timestamp in the syslog header. Does l2met take that timestamp into consideration when determining the time to record the measurement? If so I think the intent behind this issue is satisfied and it can be closed.

[2013-07-03 14:37] ryansmith3136 commented on #15
L2met definitely uses the timestamp in the header to route the measurement to the correct bucket. However, l2met drops messages that are "late" to the receiver.

https://github.com/ryandotsmith/l2met/blob/master/receiver/receiver.go#L101-108

[2013-07-03 14:51] mikehale commented on #15
Not being an expert on how the receiver stuff works... what are the effective limits on wanting to backfill sample data? Are buckets even required for sample data?

[2013-07-03 14:54] ryansmith3136 commented on #15
l2met doesn't handle backfilling data well at all. The period in which you can submit data is dependent on the resolution of your drain. For instance, if you are using a resolution of 60s you can submit syslog packets where the timestamps are within the current 60s of the server's time.

[2013-07-03 15:14] josephruscio commented on #69
@ryandotsmith I was going to :+1: @mikehale's comment. The "sample" mode should turn l2met into a transport-only mode, unless there's a use-case I'm not aware of.

[2013-07-03 15:17] ryansmith3136 commented on #69
Cool. Well I think I have a good enough understanding of the problem to start putting a PR together.

[2013-07-03 15:51] josephruscio commented on #69
@ryandotsmith I'd also strongly suggest finding someway to remove the ambiguity of the `sample` prefix e.g. using some delimiting character not permitted in a metric name:

[code]

or

[code]

In the original example there will be no way to distinguish `sample.foo` (a metric named `foo` reported as a sample) from `sample.foo` (a metric named `sample.foo`).

[2013-07-03 15:55] ryansmith3136 commented on #69
@josephruscio Do you really think this is a problem? I haven't talked with anyone who was tripped up by not being able to use measure as a metrics name. I expect the same outcome if sample were a reserved word.

[2013-07-03 16:11] ryansmith3136 commented on #69
To be clear, my motivation is to keep the conventions as simple and consistent as possible. An alternitive to your first proposition could be:

[code]

Also, can you provide any data here? How many librato metrics have the name sample in them?

[2013-07-03 16:34] josephruscio commented on #69
@ryandotsmith /cc @mheffner our experience with the millions of metric names our users have created is that pretty much any permutation will be used. From our production database:

[code]

and just for kicks:

[code]

[2013-07-03 16:36] josephruscio commented on #69
I think this proposal is even better, I hadn't quite grasped that `measure` is also a reserved word.

[2013-07-03 18:12] nextmat commented on #15
FWIW, if you are using the Librato outlet and want CloudWatch metrics, the [CloudWatch integration](http://support.metrics.librato.com/knowledgebase/articles/195366-amazon-cloudwatch-integration-) may provide a simpler path. I understand this doesn't help if you're using a different outlet though.

[2013-07-03 18:27] nextmat commented on #69
If we're going to expand the conventions it would be nice to have one as well which covers the simple counter case. While you can of course take a current `measure` and just ignore all the bits you don't care about, its a lot of unneeded context and having some type to push along the stack would be very useful for reasonable defaults. What about:

[code]

[2013-07-03 18:34] josephruscio commented on #69
@nextmat to clarify would `count#` indicate that the value is an _increment_?

[2013-07-03 18:40] nextmat commented on #69
I think if `count#` sent `sum` and `count` it could represent any kind of counter, but I would probably consider tying it to an incremental counter gauge preset in the Librato outlet later if we supported that.

[2013-07-09 16:43] ryansmith3136 commented on #69
All of this talk has led me to believe that we should not be afraid to abandoned the `measure.` convention and choose something that is more explicit.

[code]

[2013-07-09 22:54] drio commented on #63
@ryandotsmith
What do you think about [this](https://github.com/drio/l2met/commit/31e66ea0d524de3ec655feb474959f7f748e7dbe)  to address this ticket?

It you are fine with it I can also clean ff() and fi() since they won't be used.

[2013-07-09 23:21] ryansmith3136 commented on #63
@drio Looking good. Care to open a PR?

[2013-07-10 00:15] nextmat commented on #69
That looks good to me except I'd consider keeping `measure` instead of `time` because there are things you want the full set for that aren't timings. For example, queries, requests, etc.

[2013-07-10 01:14] ryansmith3136 commented on #69
@nextmat what do you mean by queries and requests? Wouldn't you be measuring the time it takes to make a request or a query?

[2013-07-10 02:31] josephruscio commented on #69
@nextmat I'd tend to agree with @ryandotsmith's line of questioning, outside of time/rate/counts is there another [fundamental class of measurement](https://speakerdeck.com/monitorama/boston-2013-keynote-dr-neil-j-gunther?slide=7)?

OTOH though, are there cases where when tracking a _count_, the number of increments is large enough to make tracking distributions interesting? E.g. if on every POST

[2013-07-10 02:37] ryansmith3136 commented on #69
:8ball:  @josephruscio just referenced Dr. Neil J. Gunther.

[2013-07-10 03:12] mheffner commented on #69
Timings are a specialized, but common, form for generic sampling. For example, I may want to measure the byte size for each incoming request and get the same sample statistics I would get measuring the time of the requests.

So, I would agree with @nextmat that calling these sampling statistics "timings" is a misnomer. See similar discussion for statsd: https://github.com/etsy/statsd/issues/98.

[2013-07-10 03:37] josephruscio commented on #69
@mheffner ah I see now, I misunderstood what @nextmat was saying. Pretty sure I advocated for that too with the POST example, making my response doubly obtuse ;-). In the Etsy thread it looks like you advocated for still having a `timing` type given how common that use case is, even if it was just an alias for the more generic type. Do you think that would make sense here?

[2013-07-10 06:27] wolfeidau opened #76 "Log timestamps in l2met"
There seems to be an issue with something in the router messages which is triggering a panic.

Because I have no timestamps in my log it is difficult to correlate with the raw syslog data I am collecting.

I understand this is not necessary if deployed on Heroku, would nice to add a flag to enable it for development and where not hosted there.

Happy to submit a pull request if your conducive to t

[2013-07-10 13:16] mheffner commented on #69
@josephruscio I think timing makes sense to keep at an instrumentation library level given the common use case of measuring the time of code blocks. For statsd there's a tight coupling between client library and daemon, so there I think it would be harder to drop timing support now.

Given that this is green-field development, for a metrics transport system such as l2met I think sticking to a sing

[2013-07-10 18:38] craigkerstiens commented on #69
Adding myself @craigkerstiens and @gregburek to track for resolution of this.

[2013-07-10 20:02] ryansmith3136 commented on #69
@craigkerstiens One thing that is worth pointing out is that some of the [Heroku postgres metric logs](https://devcenter.heroku.com/articles/heroku-postgres-metrics-logs_) fall into the `sample` category.

[2013-07-10 20:29] ryansmith3136 commented on #76
Yikes. Would love to know what is causing the panic for sure!

I would love to accept a PR that improves l2met's own visibility. Maybe there is something in the [log pkg](http://golang.org/pkg/log/#Logger.SetFlags) that we can use.

[2013-07-10 20:38] #63 closed, assigned to nobody

[2013-07-10 20:50] josephruscio commented on #69
Adding @runesoerensen to the thread to ensure compatibility in any implementation [AppHarbor](https://appharbor.com/) might be interested in.

[2013-07-10 22:52] wolfeidau commented on #76
Just an update, runs for a few minutes on production data before crashing.

Using the log package I added timestamps to the log and got a second to check router messages within, this resulted in between 4 - 20 candidates.

Ran like 40 message strings through the receiver unit test and couldn't get it to die.

So I commented out this line https://github.com/ryandotsmith/l2met/blob/master/bucket/par

[2013-07-11 16:29] nextmat commented on #69
Fundamentally in agreement with @mheffner. I think this is mostly a vocabulary issue, to me timings are just a subset of sampling with a certain class of units associated. I don't think it makes sense to separate them out at the l2met level, personally.

I tend to think of the `measure` case as sampling anything, while the `count` I was proposing is specifically a simplified case for just a count.

[2013-07-11 20:52] josephruscio commented on #69
@nextmat I'm inclined to think that it's only the sum. As soon as the average is involved you are characterizing the distribution to some extent, so we should either do that completely or not at all.

[2013-07-14 11:03] wolfeidau commented on #76
So did some research, one obvious issue so far is the string convert of the Float64 only caters 10 digits, when your handling values which are in bytes and milliseconds this can overflow.

Don't ask me how but we have clients on very slow links uploading files for a very long time.

Either way I have had a shot at rewriting that logic and removed the parse/format/compare/slice with a TrimFunc, onc

[2013-07-14 14:30] ryansmith3136 commented on #76
:clap:
Good find. Also, I like the idea of using TrimFunc.

[2013-07-22 15:56] ryansmith3136 commented on #69
It seems that the conversation has led us to believe that the following proposed convention might be the next best move for l2met.

[code]

[2013-07-22 17:16] nextmat commented on #69
:+1: looks good to me

[2013-07-22 17:58] gregburek commented on #69
This makes sense + :8ball:

[2013-07-23 13:22] mathieuravaux commented on #69
:+1:

[2013-07-23 14:50] danp commented on #69
:+1:

[2013-07-23 16:35] josephruscio commented on #69
:+1:

Now that the fundamentals seem to be in order, _bike shed_ time :-) ... `min/max` or `p0/p100`?

[2013-07-23 16:49] ryansmith3136 commented on #69
@josephruscio I like p0/p100 because it brings more consistency to the protocol.

[2013-07-23 16:53] danp commented on #69
I too like the p0/p100 bike shed color.

[2013-07-23 17:12] ryansmith3136 opened #77 "Improve Documentation"
The README has evolved into something unwieldy. I think the README should contain:
- Synopsis
- One line setup instruction
- Instructions on how to hack on l2met
- Links to everything else like: how it works, how to admin it, how to use all the features

[2013-07-23 17:18] josephruscio commented on #69
I guess it depends on how mathematically pure we want to be. I've seen min/max described that way before and it makes intuitive sense to me ... but some googling around shows some amount of disagreement e.g. whether the min is `p0` or in the 1st percentile. There's certainly no other value in the distribution that could be `p0`.

[2013-07-24 15:21] ryansmith3136 commented on #69
@josephruscio good point. If we use p0 and p100 that implies that there are 101 percentiles.

[2013-07-24 17:18] nextmat commented on #69
I'd favor `min/max` as it seems both more explicit and less debatable.

[2013-07-24 17:35] mheffner commented on #69
There's also a difference between the single values `min` and `max` and the distribution _pN_ of a sample set which itself has a minimum, maximum, sum, count.

[2013-07-25 21:40] ryansmith3136 opened #79 "Make librato_outlet http timeout configurable"
Right now there is a hard coded 2 second timeout in the librato outlet. The goal is to remove the hard coded value and replace it with something that can be configurable.

[2013-07-25 22:10] ryansmith3136 opened #80 "Determine KPI for l2met operations"
L2met offers mechanisms to scale the service. (Horizontally scale receivers and outlets) But it is unclear when a systems administrator would need to do so. I think there should exist a document that describes how to scale l2met.

[2013-07-29 17:54] ryansmith3136 commented on #80
I have started collecting some admin guides in the [wiki](https://github.com/ryandotsmith/l2met/wiki/Administration). I will continue to flush out the exact details of the KPIs.

[2013-07-29 17:55] ryansmith3136 commented on #77
Started slimming down the README. See the repo for the latest changes. There is also a GH wiki added to this repo. I have started adding data there.

[2013-07-29 17:56] ryansmith3136 commented on #51
@mikehale I think the proposed changes in #69 would handle this case. Correct me if I am wrong.

[2013-07-29 18:05] ryansmith3136 opened #81 "L2met internal visibility"
Who will watch the watchmen?

There are a couple of ideas on how to monitor the health of l2met. First of all, l2met exposes a `/health` HTTP endpoint which will provide a healthy diagnosis of the HTTP server and the connection to Redis. (sending a PING request to Redis) Secondly, we need to understand the cadence in the inner-workings of l2met. There are a couple of ways we can go about this.
1.

[2013-07-29 18:12] ryansmith3136 commented on #81
The design of the internal metrics channel needs to take the following into consideration:
- Leverage existing code paths for working with metrics extracted from logs.
- Need metric channels for both the receivers (front-end) and the outlets (back-end).
- The outlets are the only processes which can make an http request to Librato.
- Internal metrics shouldn't cause an l2met outage. (circuit break

[2013-07-29 20:38] mikehale commented on #51
@ryandotsmith agree.

[2013-07-29 20:38] #51 closed, assigned to nobody

[2013-07-30 15:26] ryansmith3136 opened #83 "Locking Bug"
L2met requires multi-machine synchronization for aggregating data. When there are more than 1 outlet processes running, with max-partitions set to a number > 1, each outlet process must acquire a lock for a particular partition to work in. But, even when max-partitions is equal to 1, the administrator may wish to provision 2 outlet processes for increased availability. Thus, locking is a fundament

[2013-07-30 15:28] ryansmith3136 commented on #70
Thanks for putting this on my radar. I don't have the bandwidth to work on this at the moment. There is plenty of work l2met needs to improve operational robustness before we start adding new features. However, I will keep this in mind and may re-open it in the future. Thanks again!

[2013-07-30 15:28] #70 closed, assigned to nobody

[2013-07-31 18:27] josephruscio opened #84 "l2met supports one-time event syntax"
Many metric systems support the concept of correlating one-time or aperiodic events against their metrics, commonly as vertical lines overlaid on a line chart (e.g. [Librato Annotations](http://blog.librato.com/posts/2012/09/annotations))

An example of such an event is Heroku's release notifications that occur whenever new code is pushed to a Heroku application:

[code]

l2met should support a fo

[2013-08-01 23:45] ryansmith3136 opened #87 "L2met authentication debugging"
It is desirable to keep a log of who is authentication against l2met. This will give the operator a perspective on traffic as well as help out with security related issues.

[2013-08-01 23:49] josephruscio commented on #87
:+1:

[2013-08-02 00:02] nextmat commented on #87
Agreed, would be very helpful.

[2013-08-02 17:40] #68 closed, assigned to ryansmith3136

[2013-08-02 17:44] ryansmith3136 commented on #69
This has been merged into master. Next, I will go on a doc updating crusade.

[2013-08-02 17:47] ryansmith3136 commented on #81
The [wiki](https://github.com/ryandotsmith/l2met/wiki/Administration#monitoring) has been updated to include our first set of internal metrics.

There is [documentation](http://godoc.org/github.com/ryandotsmith/l2met/metchan) on how to use the internal metrics channel.

[2013-08-02 17:47] #81 closed, assigned to ryansmith3136

[2013-08-02 17:48] ryansmith3136 commented on #80
The [wiki](https://github.com/ryandotsmith/l2met/wiki/Administration#monitoring) now includes docs on what to monitor.

[2013-08-02 17:48] #80 closed, assigned to ryansmith3136

[2013-08-02 18:01] ryansmith3136 commented on #79
[code]

[2013-08-02 18:01] #79 closed, assigned to ryansmith3136

[2013-08-04 15:30] ryansmith3136 commented on #69
The [Usage article](https://github.com/ryandotsmith/l2met/wiki/Usage#logging-convention) in the wiki has been updated. I also [alluded](https://github.com/ryandotsmith/l2met/wiki/Usage#legacy-logging-convention) to the fact that we are supporting the `measure.` convention as a legacy convention until 3.X.X.

[2013-08-04 15:30] #69 closed, assigned to ryansmith3136

[2013-08-04 21:59] BRMatt commented on #69
Do you happen to know if the postgres instrumentation logging heroku does will change to match these new conventions? On the one hand it seems a waste to store all the `measure#` metrics for things like db size etc., but on the other I guess you can't just abruptly change that sort of stuff. Would it be possible to have a labs app feature that uses the newer convention?

[2013-08-05 00:29] gregburek commented on #69
@BRMatt I'm part of the Heroku Postgres team.

As this change is released and brought into our l2met infra, we will be changing to `sample#` as the postgres measurements are being taken about once per minute. The exact migration path is still under discussion, but we have been pushing for these changes in order for this to happen.

As for using a labs app feature, we are an addon provider and do n

[2013-08-05 00:32] ryansmith3136 commented on #69
@gregburek Thanks for the insight!

@BRMatt As you may have noticed, l2met will still support the `measure.` convention for quite some time. I know that quite a few people have used l2met for their visibility systems and I don't want to leave them out in the cold on this one. However, I hope that the new conventions are useful to the point that people will upgrade their logging statements. One of

[2013-08-05 11:26] BRMatt commented on #69
@gregburek Brilliant, thanks for the explanation.

@ryandotsmith Agreed, it's helpful this change doesn't conflict with the previous conventions.

[2013-08-05 20:09] #83 closed, assigned to nobody

[2013-08-05 21:53] mheffner opened #93 "All options can be configured via environment variables"
All options that can be set on the command line (`l2met --help`) should have an equivalent way to set via environment variable, like _REDIS_URL_, _SECRETS_, etc.

[2013-08-06 00:45] mattreduce commented on #84
@ryandotsmith What's a sane format for me to suggest Add-on providers use? How about the following:

[code]

This is inspired by the Librato docs that @josephruscio mentioned.

[2013-08-06 00:48] ryansmith3136 commented on #84
@mattonrails nice. One quick observation... The time is included in the syslog packet's header per RFC5424. So it is not necessary to include a start_time as long as the emitter emits the log line when the event _actually_ started.

[2013-08-06 14:15] BRMatt commented on #59
Please correct me if my understanding librato's aggregation is off, but I think it might be best to sum both the `sum` and `count` metrics, as in both cases you want the sum of all values for a time period, not the number of times librato received the metric. e.g.
- An app logs 10 measurements `1...10`, at 12 second intervals over the space of 2 minutes
- If working in a 60 second period then the

[2013-08-07 06:10] ryansmith3136 commented on #76
Hello, I wanted to follow up on this. A few things have changed with respect to internally logged metrics. You can read about the metchan in #82, but I thought it would be nice if I pointed out that we can easily accommodate the issue you have raised here with metchan. Currently all logging output happens [here](https://github.com/ryandotsmith/l2met/blob/master/metchan/metchan.go#L103). We might b

[2013-08-07 06:42] wolfeidau commented on #76
Ah great to hear, so far I haven't experienced this failure with my fork which includes the changes I pushed to you.

I need to re-sync up with your tree and catch up on the changes looks like lots of things are happening.

I will take a look at how this can be extended to cater for local logging.

[2013-08-07 22:34] softwaregravy commented on #71
+1

[2013-08-07 23:44] #71 closed, assigned to nobody

[2013-08-08 00:35] BRMatt opened #96 "Allow router source to be manually specified/include summation metric"
Each of our users has their own subdomain in our multitenant app, and each router metric creates a source for each of these domains. While it's nice to be able to compare traffic between different sites, having a large number of sources for each metric prevents us from getting a single overview metric which we can evaluate/act on.

It'd be handy to have a separate source that amalgamates all of th

[2013-08-08 00:36] ryansmith3136 commented on #96
Great issue. Allow me to disclose that I hadn't really thought of the ramifications of per-domain sourcing on router metrics. I would definitely be up for picking something that is more reasonable.

[2013-08-08 00:45] ryansmith3136 commented on #96
If we wanted to remove this "feature", we could do so by removing this [line](https://github.com/ryandotsmith/l2met/blob/master/parser/log_data.go#L42-46). I am not sure how many people depend on this. I suspect it is mostly annoying.

[2013-08-08 00:52] BRMatt commented on #96
It's useful if you want to see which site is producing the most traffic, but if we were to allow the specification of source in log lines it'd be trivial to write a small app specific metric that'd recreate the feature with safe guards(e.g. only log for sites that exist).

[2013-08-08 01:19] ryansmith3136 commented on #96
Are you aware that you can specify the source in the log lines? Checkout the [wiki](https://github.com/ryandotsmith/l2met/wiki/Usage#source) for the details.

[2013-08-08 10:13] BRMatt commented on #96
Whoops, no I must've missed that! In that case this should definitely be
removed
On 8 Aug 2013 02:19, "Ryan Smith" notifications@github.com wrote:

[2013-08-08 18:03] #96 closed, assigned to nobody

[2013-08-08 22:52] ryansmith3136 commented on #84
Man, so excited to get Heroku's deploy events on this syntax. I am **dying** to have my dyno restart and deploys annotated on my charts.

[2013-08-13 03:11] ryansmith3136 opened #99 "Version Visibility"
To help debugging scenarios, l2met should expose its version and HEAD sha in the following places:
1. The user agent header on outgoing http requests
2. Command line flag
3. Health endpoint

[2013-08-13 23:06] BRMatt opened #101 "Metrics aren't being sent when using redis as store"
I upgraded our l2met instance this evening and thought it'd be a good opportunity to setup metchan metrics. As it seems the store related metrics are only available when using redis, I switched our instance from an in-memory store to using a redistogo nano instance. All metchan metrics were then being reported, but l2met stopped sending our normal app metrics:

![2013ear-08-14_selection](https://f

[2013-08-14 20:15] #99 closed, assigned to nobody

[2013-08-14 21:52] ryansmith3136 commented on #59
I am actually not sure if l2met should be responsible for this. I am thinking that [librato-dash](https://github.com/ryandotsmith/librato-dash) will take care of all this type of data.

[2013-08-15 06:32] alexlouden opened #104 "/sign always returns authentication failed"
Hey guys,

The setup script is returning auth failed. Any ideas?

[code]

The secrets environmental variable is set:

[code]

Any ideas?

[2013-08-15 16:48] ryansmith3136 commented on #104
Sorry for the troubles here, MASTER has been under heavy development recently. I am hoping to make a stable release soon.

As for you specific problem, try this:

[code]

[2013-08-15 19:40] #104 closed, assigned to nobody

[2013-08-15 19:40] ryansmith3136 commented on #104
@alexlouden There was a bug introduced recently. I have applied a fix. Feel free to re-open if you are still having troubles.

[2013-08-15 20:54] mikehale opened #105 "/sign fails to authenticate"
I just deployed l2met from 27b6331 and it is returning 'Authentication failed.' when I attempt to sign credentials. I'm pretty sure I'm using the same secret on the process and the request, thinking that perhaps this was a code regression?

[2013-08-15 21:02] ryansmith3136 commented on #105
Can you provide the command you are using to sign?

[2013-08-15 21:36] ryansmith3136 commented on #77
The wiki is looking strong with all of its new articles. Closed & Closed.

[2013-08-15 21:36] #77 closed, assigned to ryansmith3136

[2013-08-15 21:47] mikehale commented on #105
[code]

It looks like this is an encoding error possibly in kr/fernet. If you replace the '_' with some alpha numeric character (for both the l2met process and the curl command) everything just works.

So far I can't get auth to work with '+' or '_' in the SECRETS env.

[2013-08-15 22:06] ryansmith3136 commented on #105
@mikehale so is it a problem with the command used to generate SECRETS?

[2013-08-15 22:16] mikehale commented on #105
I'm not sure. Ruby properly url encodes/decodes strings that l2met/fernet has trouble with. I'm not certain which is out of spec.

[2013-08-15 22:37] mikehale commented on #105
This shows that in ruby decoding an encoded string returns the original string:

[code]

[2013-08-16 16:02] ryansmith3136 commented on #105
I suspect this problem may be with the way that l2met is decoding the authorization header. You can see the call to decode here:

https://github.com/ryandotsmith/l2met/blob/master/auth/auth.go#L53

Notice I am using the base64 pkg's StdEncoding variable. I noticed that there is a URLEncoding variable that will handle the URL safe versions of base64. I am going to research and test the different im

[2013-08-16 17:28] ryansmith3136 commented on #105
Using URLEncoding did not solve the problem. After some more digging, I may have uncovered a bug in kr/fernet. Here is my bug report. https://github.com/kr/fernet/issues/5

[2013-08-17 23:58] ryansmith3136 commented on #60
No longer an issue now that heroku's runtime metrics support l2met's latest format. https://devcenter.heroku.com/changelog-items/315

[2013-08-17 23:58] #60 closed, assigned to nobody

[2013-08-19 09:38] BRMatt opened #106 "Possible problem with requests timing out"
It seems l2met is taking a long time to accept some requests, [causing them to timeout and trigger Heroku 503 errors](https://gist.github.com/BRMatt/2eca1c8a469a8727d6f0). The logs show the 30 seconds or so leading up to the errors, is there any other information that'd be useful?

The instance is running cfa2fc0cebd2586d9e2b9ee94905eed6e8cf5703 on heroku with a 2 line change to measure the size o

[2013-08-19 15:22] ryansmith3136 commented on #106
@BRMatt Interesting. Can you show me your Procfile and any relevant environment variables?

[2013-08-19 15:51] BRMatt commented on #106
Procfile:

[code]

Added the `-recv-deadline` line this morning after those errors were reported. The env vars are pretty standard - `METCHAN_URL`, `APP_NAME` and `SECRETS`.

[2013-08-19 21:35] jamischarles commented on #84
+100 :)

[2013-08-19 21:38] jamischarles commented on #105
Was seeing this as well using the `./scripts/setup` script.

It failed 5 times in a row for me (I manually wiped the repo and heroku app each time).

I increased the sleep in the script to 5, then it worked (not sure if there's a correlation).

[2013-08-19 21:57] jamischarles opened #107 "Librato showing dyno name instead of app name in source property"
I believe this was working a few weeks ago. If that's incorrect, please accept my apologies.

**Use case**:

I'm draining several of my heroku apps into my l2met instance, and forwarding those on to librato.

**Problem**:
I'm trying to look at the p95 service time across several apps.

When I try to separate the apps in this graph, the sources show dyno names instead of app names. I expect to see

[2013-08-19 22:15] ryansmith3136 commented on #107
As it happens, this is sort of a strange issue. Previously, l2met would pull the hostname from the router log lines. This was removed in #96 as it caused major problems for Heroku SAAS apps that used sub-domains for their customers. (e.g. bmw.mycorp.com, apple.mycorp.com) This removed the ability to look at the app's router data in aggregate. And looking at the router's log lines, we have no way o

[2013-08-19 22:16] ryansmith3136 commented on #107
More information on drain prefixes can be found here: https://github.com/ryandotsmith/l2met/wiki/Usage#prefix

[2013-08-19 22:17] ryansmith3136 commented on #107
I also noticed that the Heroku router has `web.X` in the `dyno=` field. We should modify the Heroku router to read that field and use it as the source. In conjunction with the source prefix, you could have router metrics with sources identical to the runtime metrics.

[2013-08-20 02:15] nextmat commented on #107
:+1: that increased consistency would be quite helpful

[2013-08-20 16:00] jamischarles commented on #107
@ryandotsmith  That worked well. Thx. You mind if I start an FAQ section and have this be the first item?

[2013-08-20 16:01] ryansmith3136 commented on #107
@jamischarles that would be awesome. Want to make a FAQ page in the Wiki?

[2013-08-20 16:02] jamischarles opened #108 "Lots of "error=Unable to decrypt" in l2met logs"
`app[web.1]: error=Unable to decrypt.`

Seeing lots of these in my l2met logs. I'm assuming this is an issue with the librato decryption. Couldn't find anything else in your docs though.

Thoughts?

[2013-08-20 16:16] ryansmith3136 commented on #108
Interesting. Let me try and reproduce. Is l2met actually working for you? Are you getting data into Librato? How many apps are draining into l2met? Were the drain urls are signed using the same `$SECRET` ?

[2013-08-20 16:47] jamischarles commented on #108
Got it.

I was draining 5 apps into l2met.

One of them was draining twice (one with the wrong secret).

Fixing that also made my 4xx errors drop to zero.

I'll add this to FAQ. Thanks.

[2013-08-20 16:47] #108 closed, assigned to nobody

[2013-08-22 17:15] ryansmith3136 commented on #107
I am going to take a stab at implementation today.

[2013-08-25 15:22] BRMatt commented on #106
Updated the gist with [another onslaught](https://gist.github.com/BRMatt/2eca1c8a469a8727d6f0#file-2013-08-25) of 5XX errors. It seems the app received a large number of log payloads in a short amount of time and was [unable to cope with new connections](https://gist.github.com/BRMatt/2eca1c8a469a8727d6f0#file-2013-08-25-L515-L534)?

[2013-08-25 16:03] ryansmith3136 commented on #106
@BRMatt How strange. Can you add heroku runtime metrics onto this app? I would be curious to see the metal metrics on this dyno during these turbulent times.

From the logs, it looks like you are doing less than 100 http requests per second. I have benchmarked l2met at much higher throughput.

[2013-08-25 22:15] BRMatt commented on #106
Sure thing, here're [some more logs](https://gist.github.com/BRMatt/2eca1c8a469a8727d6f0#file-2013-08-25-with-memory-info) of about 2 minutes prior to some request timeouts. By the looks of things the dyno's not under any stress at all.

[2013-08-26 03:12] ryansmith3136 commented on #106
Do you have to perform any actions to bring the system back to a healthy state? How do you recover? Also, how are you noticing these problems?

[2013-08-26 12:18] BRMatt commented on #106
We don't do anything, the errors are often sporadic. Some seem to be near a dyno restart (in which case [we get H13, "Connection closed without response" errors](https://gist.github.com/BRMatt/2eca1c8a469a8727d6f0#file-2013-08-25-20-00-00-request-timeouts-before-dyno-load-info-L293-L334)), though most appear to happen [randomly](https://gist.github.com/BRMatt/2eca1c8a469a8727d6f0#file-2013-08-25-2

[2013-08-26 20:40] ryansmith3136 opened #109 "No visibility when logplex is dropping messages to l2met"

[2013-08-26 23:32] ryansmith3136 opened #110 "Be careful with how we use store.Now()"
Currently, the RedisStore relies on a time command sent to Redis. I believe this call is made in a tight loop on bucket parsing. We should probably figure out a more efficient way to get the time from Redis.

[2013-08-28 21:28] sclasen opened #112 "Improve percentile calculations"
Would be great to have this instead/in addition to the raw percentiles over the reporting period.
Perhaps use: https://github.com/bmizerany/perks

[2013-08-28 21:34] ryansmith3136 commented on #112
Just out of curiosity, do you think there is a user benefit to having this? I know that it is more efficient from an engineering perspective, just not sure it adds any value to users of l2met.

[2013-08-28 21:37] ryansmith3136 commented on #112
Also, I would be happy to review a PR if you wanted to take a stab at using the library.

[2013-08-28 21:41] sclasen commented on #112
Unless I am misunderstanding the l2met code (A distinct possibility!!) :)  It looks like the percentiles for a given reporting period are in no way related to previous periods. Is this the case?

I guess I should have added more detail to the request, but this would involve storing the perks structures in redis, pulling them back out and running the current period measurements through them to get

[2013-08-28 21:57] ryansmith3136 commented on #112
I see. I wonder though... Do you really want to carry your statistics across time intervals? For example, lets say there was a strange instance failure at t=0 which caused your latency metrics to spike. Then, at t=1 the problem went away and your latencies returned to normal values. Currently, l2met computes statistics in isolation to the period in which they are measured. What you suggest would b

[2013-08-28 22:08] sclasen commented on #112
So in the context of alerting i think periods being related is not desireable, but from the context of understanding the long term performance characteristics of a service, you would want to consider measurements across periods.

This I think is one reason why all these statistical methods for calculating percentiles over an unbounded stream have been developed :)

I think your example is correct

[2013-08-28 23:37] ryansmith3136 commented on #112
Can't deny math. Lets keep this issue open and see what happens.

[2013-08-28 23:38] ryansmith3136 commented on #112
@sclasen Hope you don't mind that I word-smithed your issue name and desc...

[2013-08-28 23:55] sclasen commented on #112
Looks good!

[2013-08-31 17:37] BRMatt opened #113 "Allow multiple sources to be specified for metrics"
The usecase would be aggregating data for the entire application, but at the same time recording data at a more granular level. An example of this would be recording the time spent in the db/views/cache at a controller+action level, and also have an application wide overview to see the worst performance across all parts of the app.

We could either use multiple source statements per log line (i.e.

[2013-09-03 20:02] ryansmith3136 commented on #113
You can provide metrics with a specific source and then aggregate the data by manipulating the source in Librato's UI. Do you find this technique unsatisfactory for solving your problem? http://support.metrics.librato.com/knowledgebase/articles/96653-instrument-and-dashboard-templates-dynamic-source

[2013-09-04 04:43] summerville opened #114 "Installation not working - no drain URL returned"
Hi,

I've followed the instructions in the README several times but keep getting the same error when installing l2met. Heroku and Librato are setup. Here's what I'm seeing:

[code]

Any ideas on what I'm doing wrong?

Thanks!

[2013-09-05 00:11] BRMatt commented on #113
It might do, but last time I tried the aggregation with the multiple domains for router requests it seemed to display lines for each of the sources rather than a single aggregated value, though I might've been doing it wrong. I'll take a look when I get back from holiday and report back.

[2013-09-05 00:36] josephruscio opened #115 "'sample#' should not append '.last' suffix to metric name"

[2013-09-05 00:37] josephruscio commented on #115
/cc @dpiddy @freeformz

[2013-09-05 00:37] josephruscio opened #116 "'count#' should not append '.sum' suffix to metric name"

[2013-09-05 00:38] josephruscio commented on #116
/cc @dpiddy @freeformz

[2013-09-05 13:02] danp commented on #110
Looks like you meant to close this, is that right?

[2013-09-05 13:27] ryansmith3136 commented on #110
Yes.

[2013-09-05 13:27] #110 closed, assigned to nobody

[2013-09-05 13:27] #109 closed, assigned to ryansmith3136

[2013-09-05 18:55] freeformz commented on #116
:+1: do it

[2013-09-05 18:55] freeformz commented on #115
:+1: do it

[2013-09-05 18:56] freeformz commented on #14
Closing because this was handled in #69

[2013-09-05 18:56] #14 closed, assigned to nobody

[2013-09-05 18:56] freeformz commented on #13
bump

[2013-09-05 20:38] mikehale commented on #116
:+1:

[2013-09-05 20:39] mikehale commented on #115
:+1:

[2013-09-05 21:05] #115 closed, assigned to nobody

[2013-09-05 21:05] #116 closed, assigned to nobody

[2013-09-05 21:12] ryansmith3136 commented on #114
I played around with the setup myself to try and reproduce. I was able to. I think this is related to #105

[2013-09-05 21:13] ryansmith3136 commented on #114
I bet if you inspect the `SECRETS` variable you will notice a non url safe character.

[code]

In this example, you can simply replace `/` with any other alpha numeric character.

[2013-09-05 21:21] ryansmith3136 commented on #114
@summerville You may want to give the updated setup script a try.

[2013-09-05 22:15] summerville commented on #114
Boom! That got it. Thanks a ton!

[2013-09-05 22:15] #114 closed, assigned to nobody

[2013-09-11 16:38] josephruscio opened #117 "Travis integration"
Upstream l2met (this repo) should run tests on Travis.org.

[2013-09-11 18:03] ryansmith3136 commented on #117
I am curious as to your motivation. What problem would this solve?

FIWI: I use drone.io for the build/CI service on l2met because it is simpler and faster than travis. Last time I used travis for l2met, it took almost 5 minutes to execute a build. On drone.io it takes ~5s.

[2013-09-11 18:57] josephruscio commented on #117
I filed this because I thought master in our private fork was failing tests. It turns out that Travis apparently will run tests on branches without a .travis.yml file, and assume they are Ruby :-1:. I'm going to close this because the original motivation isn't valid.

That aside, it would provide a public/automated indicator of the validity of master. If (drone.io or any other CI provider) has som

[2013-09-11 18:57] #117 closed, assigned to nobody

[2013-09-11 19:11] ryansmith3136 commented on #117
@josephruscio Did you see the badge under the hacking/testing section of the README?

https://github.com/ryandotsmith/l2met#running-tests

Maybe it would be better to place it at the top?

[2013-09-11 19:18] josephruscio commented on #117
I did not see it and :+1: to placing it at the top. That seems to be the convention for important badges like CI or code quality.

[2013-09-18 18:01] mheffner opened #118 "error=logfmt: unterminated string"
Seeing this a lot in the standard output on the Librato l2met. What does this mean?

[2013-09-19 21:08] mheffner commented on #118
Log lines in l2met should be expanded to include: time and file:line location of the log line in the code. Right now you can't tell when or where a particular log lines was emitted.

[2013-09-23 22:48] aseemk commented on #84
Love the idea.

[2013-09-23 22:53] aseemk commented on #96
Hey guys, I just came across this, after I'd _just_ asked @josephruscio about this. We miss seeing the hostname as part of the source in our router metrics.

Our use case is that we serve both an HTML website and a JSON API from the same Heroku app (using vhosting), and it'd be great to differentiate stats between the two.

I'd appreciate if this could be reconsidered, as something that could be c

[2013-09-23 22:59] aseemk commented on #53
We'd _love_ to see this as well! In my mind, there are at least three ways you could approach this:
- `at=info` vs. `at=error`. This wouldn't be bad, and would already give us a lot of value, but it'd only catch errors from Heroku's perspective (e.g. H12 timeout), not errors from our app's perspective.
- `status=2xx` vs. `3xx` vs. `4xx` vs. `5xx`. This would be the ideal for us.
- `status=200` vs.

[2013-09-23 23:02] aseemk commented on #107
We just upgraded to this new l2met scheme and ran into this inconsistency as well. Big +1!

[2013-09-23 23:04] aseemk commented on #96
Addendum: after reading https://github.com/ryandotsmith/l2met/issues/107#issuecomment-22908928 ("We should modify the Heroku router to read [`dyno=web.X`] and use it as the source"), I'm no longer sure how the host could/would get incorporated into the source. Tricky.

[2013-09-23 23:18] aseemk commented on #53
I should also add that I'm assuming these metrics would be counters (type `count` rather than `sample` or `measure`). Hence there'd be a separate metric for each "value" you count (2xx vs. 3xx, or 200 vs. 201, etc.)

[2013-09-25 16:30] fs-readonly opened #119 "Feature request: Custom outlets"
Ryan,

I'm in the process of trying to build a quick dashboard for multiple apps following this format:
https://blog.heroku.com/archives/2013/3/19/log2viz

I think l2met would be a perfect candidate if I could just specify a custom outlet (besides librato).

Essentially a simple way to post metric data to any endpoint at a given interval (same thing you're doing with librato).

Thoughts?

[2013-09-25 16:30] fs-readonly commented on #119
wrong user, let me repost with my correct user. sorry :)

[2013-09-25 16:30] #119 closed, assigned to nobody

[2013-09-25 16:31] jamischarles opened #120 "Feature request: Custom outlets"
Ryan,

I'm in the process of trying to build a quick dashboard for multiple apps following this format:
https://blog.heroku.com/archives/2013/3/19/log2viz

I think l2met would be a perfect candidate if I could just specify a custom outlet (besides librato).

Essentially a simple way to post metric data to any endpoint at a given interval (same thing you're doing with librato).

Thoughts?

[2013-09-26 14:31] mheffner opened #121 "Support multiple log levels"
l2met's operating log output is fairly chatty. That makes it difficult to watch for critical or important output messages. I recommend adding multiple log levels with the ability to set the minimum level to log. Chatty messages should be logged at DEBUG or VERBOSE levels.

[2013-09-28 16:36] aseemk commented on #107
Question: we just started logging custom metrics from our own app code, e.g. `measure#pdf_generation_time=1234ms`, and I'm just seeing that the source for those is simply our `source-prefix`, e.g. `production`, and not the full dyno name, e.g. `production.worker.5`. Is this expected?

I'm guessing so, since we aren't logging `source=worker.5`. But our code within Heroku doesn't know which dyno it

[2013-10-01 15:29] BRMatt commented on #113
Tried this today, seems like librato's ui does exactly what we need.

[2013-10-01 15:29] #113 closed, assigned to nobody

[2013-10-11 01:49] mikehale opened #122 "Should sample# map to the librato multi-sample measurements?"
Today `sample#` expects a [simple value](https://devcenter.heroku.com/articles/librato#custom-sample-metrics). However it seems to make sense that if sample is a summary statistic that it would have a count, sum, min, max, and min as the [multi-sample gauge measurements do](http://dev.librato.com/v1/post/metrics#gauge_specific). They could probably also submit a perc95, perc99. Without this featur

[2013-10-14 22:28] collinvandyck commented on #118
Couple of updates:
1. file and line numbers have been included for all logging statements in the librato/l2met project.
2. the librato l2met will now log log-lines that could not be parsed. many of these are because logplex is truncating log messages > 1K which results in an incorrectly formatted log line and hence the parse failure.

Other failures occur from log messages that are < 1K but are si

[2013-10-29 18:41] danp opened #123 "Feature request: count unique things seen"
I would like to have l2met produce a "unique things seen" metric from my log lines. Say I have an app that logs lines like this:

[code]

I would like a metric that counts how many unique `user_id`s were logged, in this case 3. A possible convention:

[code]

these lines would cause a `user-id` metric to be emitted every interval and again in this case the value would be 3 based on these lines.

[2013-10-30 22:36] aseemk commented on #123
Neat idea. I've wondered where the line gets drawn between technical metrics and user analytics, but this is something we might use too if it were available. IP addresses, OAuth client IDs, and maybe User-Agent strings would be things we might track like this, along with authenticated user IDs.

[2013-10-30 22:53] aseemk commented on #84
Suggestion for syntax, if timestamp isn't needed, and to be more consistent w/ existing metric syntax:

[code]

E.g. in the case of Heroku deploys, could be a release number:

[code]

This is a nice and terse syntax, but is obviously limiting if you want to associate more info. But that's the trade-off l2met has already taken with its existing metric syntax.

[2013-10-31 04:56] josephruscio commented on #123
@dpiddy to better predict the worst case memory usage, is there some sane max boundary on _key_ length e.g. 128 or 256 bytes?

[2013-10-31 14:01] danp commented on #123
I think maybe even 64 bytes would be a reasonable limit, that would handle a sha256 sum.

[2013-10-31 17:34] freeformz commented on #123
@josephruscio wouldn't _value_ length be more important as you basically need to make a set of values for the key and then count them at the bucket boundary?

[2013-10-31 21:44] collinvandyck commented on #123
Yeah I think the value is what we're talking about. @dpiddy agree that 64 bytes would be reasonable. Larger values can just be hashed down to that, and would be preferable when/if the values for the  logfmt tuples had whitespace. For example,

`unique#full-name=Collin Van Dyck`

Probably wouldn't be that useful in a `unique` tag but

`unique#full-name=ac4780ff03d9df8fb067c67681e772d4`

would be.

[2013-10-31 22:39] danp commented on #123
Yeah. I'd say the limit should be 64 bytes and the recommended usage when
you are not sure if your value will be under that is to hash.

Another option would be to have l2met always hash but that has tradeoffs
too.

For my immediate use case for this feature I only need 10 bytes or less.

On Thursday, October 31, 2013, Collin Van Dyck wrote:

[2013-10-31 22:40] josephruscio commented on #123
@collinvandyck @freeformz correct, I accidentally used the wrong term, max length for any value in the set was my concern.

[2013-12-04 22:44] jakeyr opened #124 "heroku install from scratch using script causes I/O errors when posting to librato"
Hi-

I just installed a fresh heroku app running l2met using the tarball and setup script. After setting up the drain, I see l2met processing incoming requests in the logs, but no data in librato.

I am seeing these lines in the logs which makes me believe that the data posts to librato are failing:

[code]

any ideas? i tested the credentials i supplied to the setup script by using command-line c

[2013-12-06 02:26] ryansmith3136 commented on #124
Hello, @jakeyr. Did you know that Librato now runs l2met as a service? They have a bullet proof setup and unless you are just wanting to hack, I would highly recommend you use their service.

https://devcenter.heroku.com/articles/librato#custom-log-based-metrics

[2013-12-06 02:26] ryansmith3136 commented on #124
As a side note, I think I am going to make a note of this in the README.

[2013-12-06 20:20] jakeyr commented on #124
Awesome, thanks for the tip, I'll switch to that.

Meanwhile, just to satisfy curiosity... any idea what I did wrong here?

Thanks!

-jake

[2013-12-14 17:14] ryansmith3136 commented on #124
So the log line is reporting that the POST operation to librato's api timed out. You can increase the timeout on this operations via the `outlet-ttl` flag. (e.g. `$ ./l2met -outlet-ttl=5s`)

[2016-06-29 09:28] bmpandrade commented on #118
Hey guys,

I'm trying to use [heroku-datadog-drain-golang](https://github.com/apiaryio/heroku-datadog-drain-golang) and I got the same error.

Is there any development regarding this issue?

[2016-06-29 16:45] josephruscio commented on #118
@bmandrade I think as @ryandotsmith [spelled out here](https://github.com/ryandotsmith/l2met#an-important-update) this project is effectively deprecated. At Librato we've been actively developing and maintaining our hosted implementation of l2met that services all our customers on Heroku, but that's not an OSS project. Happy to help with Heroku monitoring needs there, otherwise best of luck!

[2016-06-29 16:45] #118 closed, assigned to nobody

[2019-06-18 01:32] #13 closed, assigned to nobody